<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/core/_head') %>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <%- include('layouts/shared/sign-in-form') %> <%-
          include('layouts/shared/sign-up-form') %>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3> <%= sign_up_message %> </h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <button class="btn transparent" id="sign-up-btn">Sign up</button>
          </div>
          <img src="/img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3> <%= sign_in_message %> </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="btn transparent" id="sign-in-btn">Sign in</button>
          </div>
          <img src="/img/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
